<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.mapper.PhoneImeiMapper">
    <select id="findById" resultType="demo.model.PhoneImei" parameterType="long">
        SELECT * FROM wms_phone_imei where imei_id=#{id}
    </select>

    <select id="findAll" resultType="demo.model.PhoneImei">
        SELECT * FROM wms_phone_imei
    </select>

    <select id="findByCondition"
            parameterType="com.github.condition.MapperCondition"
            resultType="demo.model.PhoneImei">
        SELECT * FROM wms_phone_imei
        <if test="_parameter!=null">
            <include refid="com.github.common.mapperCondition"></include>
        </if>

    </select>

    <select id="joinCondition" parameterType="com.github.condition.MapperCondition"
            resultType="demo.model.PhoneImei">
        SELECT phoneImei.* FROM wms_phone_imei phoneImei
        JOIN wms_user user ON phoneImei.imei_id=user.user_id
        <if test="_parameter!=null">
            <include refid="com.github.common.mapperCondition"></include>
        </if>
    </select>

    <select id="joinMapperCondition" parameterType="com.github.condition.JoinMapperCondition"
            resultType="demo.model.PhoneImei">
        SELECT phoneImei.* FROM wms_phone_imei phoneImei
        JOIN wms_user user ON phoneImei.imei_id=user.user_id
        <if test="_parameter!=null">
            <include refid="com.github.common.mapperCondition"></include>
        </if>
    </select>
</mapper>